<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Valores soportados: File | Sql -->
    <add key="PersistenceType" value="File"/>
    <add key="LogFilePath" value="logs.txt"/>
    <add key="SqlConnectionString" value="logs.db.txt"/>
    <!-- Si es true, se usará la clase Logger del cliente a través del adapter -->
    <add key="UseClientLogger" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
